* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: rgb(91, 79, 69);
}
section {
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 12%;
  margin-right: 20%;
  background-color: rgb(241, 241, 241);
  width: 60%;
  padding: 20px;
  flex-wrap: wrap;
}
#heading {
  color: #5b4f45;
  font-weight: 800;
  letter-spacing: 6px;
  font-size: 2rem;
  padding-bottom: 20px;
}

#images {
  display: flex;
  justify-items: center;
  float: left;
}
.two {
  margin-top: 20px;
  padding-left: 60px;
}
#para {
  margin-top: 29px;
  background-color: #b57b57;
  color: white;
  height: 86px;
  padding: 4px;
}
.main {
  display: flex;
  justify-content: space-between;
}

img {
  height: 330px;
  width: 300px;
  object-fit: cover;
  object-position: top;
  float: left;
}

.info {
  margin-top: 26px;
  flex-wrap: wrap;
}

@media screen and (max-width: 965px) {
  .main {
    flex-wrap: wrap;
  }
  #para {
    margin-top: 20px;
    background-color: #bd947b;
    color: white;
    padding: 6px;
  }
  .info {
    margin-top: 8px;
  }
  img {
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    margin: 30px;
    padding-left: 20px;
  }
  section {
    width: 70%;
    padding: 20px;
  }
  #heading {
    letter-spacing: normal;
    font-size: 2rem;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 690px) {
  section {
    width: 70%;
    padding: 20px;
  }
  #para {
    font-size: 10px;
    height: 67px;
  }
  img {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    margin: 0;
  }
  .two {
    padding-left: 2px;
  }
}

#personal-info {
  padding-top: 30px;
  text-align: left;
  font-size: 14px;
  font-family: monospace;
}
#personal-info strong {
  font-size: 1rem;
  font-weight: 700;
  font-family: sans-serif;
}

#info {
  color: rgb(212, 50, 50);
  font-weight: 500;
}

.section {
  display: flex;
  justify-content: center;
}

#abc {
  font-size: 1.8rem;
  text-shadow: 0 2px 4px #746060;
  padding-top: 7px;
  padding-bottom: 20px;
}

#personal-head {
  text-shadow: 0 2px 3px #767065;
}
#toggle-skills {
  background-color: #685050;
  color: white;
  padding: 8px;
  margin-top: 10px;
  font-size: 1.2rem;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}
#toggle-skills:hover {
  opacity: 0.9;
}
#toggle-skills:active {
  background-color: rgb(107, 42, 42);
}
